<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'home.html' %}
    {% block content %}
    <h3>For Add Students</h3>
    <form method="post" action="{% url 'add_student' %}" enctype="multipart/form-data">
        {% csrf_token %}
     <label for="name">Name:</label>
     <input id="name" type="text" name="name">
     <label>Counsillor Name:</label>
     <select name="counsellor">
        <option value="rekha">Rekha</option>
        <option value="rekhila">Rekhila</option>
        <option value="savitha">Savitha</option>
        <option value="angeetha">Sangeetha</option>
     </select>
     <button type="submit">Submit</button>
    </form>
    {% endblock %}
</body>
</html>