<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>{{ report }}</p>
    <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Present</th>
            <th>Absent</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for x in report %}
            <td>{{ x.attendence_date }}</td>
            <td>{{ x.status }}</td>
            <td>{{ x.updated_date }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
   
</body>
</html>