
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={% static 'images/favicon1.png'%}>
    <link rel="stylesheet" href={% static 'css/reg01.css'%}>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,200" />
    <title>Registration Form</title>
</head>
<body>
  <div class="container">
    <span class="logo">
    <a href="https://cbtech.co.in/" target="_blank">
      <img src="{% static 'images\landscapeCB1.png' %}" class="cbth" >
    </a> 
  </div>
    <form id="msform" action="register"  method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <br><br>
        <ul id="progressbar" class="width">
          <li class="active">Personal Details</li>
          <li>Address </li>
          <li class>Qualifications</li>
          <li>Other Details</li>
          <li>Course Details</li>
        </ul>
        <fieldset>
        <h2 class="title">Personal Details</h2>
          <div class="input-field">
            <div class="input-field">
              <label>Contact Number</label>
              <input type="text" id="phone_number" placeholder="Phone Number" name="phone_num" required maxlength="15">
              <!-- <input type="numeric" name="phone_num" id="phone_number"  placeholder="Enter contact number" required> -->
          </div>
            <label>Full name</label>
            <input type="text" name="name" id="name" placeholder="Enter full name" required class="text">
        </div>
        <div class="input-field">
            <label>E-mail</label>
            <input type="mail" name="email_id" id="email_id" placeholder="Enter your email" required>
        </div>
        <div class="input-field">
          <label>Gender</label>
          <select name="gender" required>
              <option disabled selected>----select gender----</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Others">Others</option>
          </select>
      </div>
        <div class="input-field">
            <label>Guardian name</label>
            <input type="text" name="guardian_name" placeholder="Enter guardian name" required>
        </div>  
        <div class="input-field">
            <label>Alternate Number</label>
            <input type="numeric" id="alt_contact_num" name="alt_contact" placeholder="Enter alternate number" >
        </div>
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        

        {% comment %} Address Details {% endcomment %}
        <fieldset>
          <h2 class="title">Address Details</h2>
          <div class="input-field">
            <label>Address Lane</label>
            <textarea name="address1" size="fixed" placeholder="Address"></textarea>
        </div>
      
        <div class="input-field">
            <label>District</label>
            <input type="text" name="address4" placeholder="Enter your district" required>
        </div>

        <div class="input-field">
          <label>State</label>
          <input type="text" name="address3" placeholder="Enter your state" required>
        </div>

        <div class="input-field">
            <label>Nationality</label>
            <input type="text" name="address2" placeholder="Enter natioinality">
        </div>


        <div class="input-field">
            <label>Zip Code</label>
            <input type="text" name="address5" placeholder="Enter zip code" >
        </div>
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

<fieldset>
          <h2 class="title">Qualifications</h2>
            <div class="input-field">
              <label>College name</label>
              <input type="text" name="college" placeholder="Enter your college name" required class="text">
          </div>
          <div class="input-field">
              <label>Highest Qualification</label>
              <input type="text" id="qualification" name="qualification" placeholder="Enter your Qualification" required>
          </div>
          <div class="input-field">
            <label>Technical Skills</label>
            <input type="text" id="tech" name="technical_skills" placeholder="Enter your Qualification" required>
        </div>
          <div class="input-field">
              <label>Year of pass </label>
              <!-- <input type="date" id="pass" name="pass_of_year" placeholder="Enter birth date" required> -->
              <select name="pass_of_year" id="pass"></select>
          </div>
          <div class="input-field">
            <label>Office </label>
            <!-- <input type="date" id="pass" name="pass_of_year" placeholder="Enter birth date" required> -->
            <select name="office" id="office"></select>
        </div>
          <div class="input-field">
              <input type="hidden" id="id" name="id" required>
          </div>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
          </fieldset>

        <fieldset>
          <h2 class="title">Other Details</h2>
        <div class="input-field">
            <label>Photo </label>
            <input type="file" id="image" name="photo" accept="image/*" value="./static/images/defaultstudent.png">
        </div>
      <div class="input-field">
        <label>Mode of class</label>
        <select name="mode" required>
          <option disabled selected>----class type----</option>
          <option value="online">Online</option>
          <option value="offline">Offline</option>
      </select>
    </div>
        <div class="input-field">
            <label>Consultant Name</label>
            <select name="consultant_name" id="consultant" required>
              
              <option disabled selected>----select name----</option>
              {% for x in user_choices %}
              <option>{{ x }}</option>
              {% endfor %}
          </select>
        </div>
       
        <div class="input-field">
            <label>Reference Name </label>
            <input type="text" name="reference_name" placeholder="Enter refered name" >
        </div>
        <div class="input-field">
          <label>Reference Contact Number </label>
          <input type="numeric" name="reference_num" placeholder="Enter contact number" >
      </div>
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
          <h2>Course Details</h2>
          <div class="input-field">
            <label>Course Name</label>
            <select name="course_name" id="course_name" required>
              <option disabled selected>----select course----</option>
            </select>
          </div>
          <div>
            <div class="input-field">
            <label>Course Duration</label>
            <select name="course_duration" id="course_duration" required>
              <option disabled selected>----select duration----</option>
              <option value="2-month">2 Months</option>
              <option value="4-month">4 Months</option>
              <option value="6-month">6 Months</option>
              <option value="8-month">8 Months</option>
              <option value="1-year">1 Year</option>
            </select>
          </div>
          </div>
          <div class="input-field">
           <label>Course Type</label>
           <select name="course_type" id="course_type" required>
           <option disabled selected>----select Course Type----</option>
            <option value="project">Project</option>
            <option value="crash">Crash</option>
            <option value="full-time">Full Time</option>
           </select>
          </div>
          <input type="button" name="previous" class="previous action-button" value="Previous" />
          <button>Submit</button>
        </fieldset>
      </form>
    </div>

<script src="{% static 'js/reg.js' %}"></script>
<script>
  $(document).ready(function() {
    var currentYear = new Date().getFullYear();                   //Year generator for enquiry registration chart dropdown

    // Get the dropdown/select element
    var dropdown = document.getElementById("pass");
     console.log(dropdown,"this is dropdown");
    // Loop through the years from 2015 to the current year
    for (var year = 2010; year <= currentYear; year++) {
    // Create an option element for each year
    var option = document.createElement("option");
    option.value = year;
    option.text = year;

    // Add the option to the dropdown/select element
    dropdown.appendChild(option);
    }

    var dropdown1 = document.getElementById("consultant");
   	 

    //dropdown1.innerHTML = '';

    var dropdown2 = document.getElementById("office");
    console.log(dropdown2);

    office_list=['kadavanthra','Trivandrum','Calicut','Bangalore']

    for (let i=0;i<office_list.length;i++) {
    // Create an option element for each year
    var option = document.createElement("option");
    option.value = office_list[i];
    option.text = office_list[i];
   
    if (year === currentYear) {
      option.selected = true;
    }

    // Add the option to the dropdown/select element
    dropdown2.appendChild(option);
    }

    var dropdown3=document.getElementById('course_name')
   let course_list=[
      'TALLY+GST',
      'SAP',
      'VAT',
      'Android',
      'Java',
      'Python',
      'PHP',
      '.NET',
      'SQL',
      'Angular',
      'React',
      'Data Science',
      'Artificial Intelligence',
      'Software Testing',
      'PHP Full Stack(PHP,Laravel,Angular)',
      'Mern Stack(Mongo DB,Express,React,Node.JS)',
      'Node.JS',
      'UI/UX' 
    ]
    for(let i=0;i<course_list.length;i++){
      let option3=document.createElement('option')
      option3.value=course_list[i]
      option3.text=course_list[i]

      if (year === currentYear) {
      option.selected = true;
    }
    dropdown3.appendChild(option3)
    };
    // var user_choices = JSON.parse('{{ user_choices|safe }}');	
    // Loop through the data and create options for the dropdown
   // for (const [key, value] of Object.entries(user_choices)) {
    //  const option = document.createElement('option');
    //  option.value = key;
    //  option.textContent = value;
    //  dropdown1.appendChild(option);
    //  console.log(user_choices);
    //}
      
  });
  
  </script>
</body> 
</html>